name: docs
on:
  push:
    branches:
      - main
workflow_dispatch:
permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: "pages"
  cancel-in-progress: false
jobs:
  deploy:
    runs-on:
      - ubuntu-latest
    steps:
      - name: install zig
        uses: weskoerber/setup-zig@main
      - name: checkout
        uses: actions/checkout@v4
      - name: generate docs
        run: zig build docs
      - name: setup pages
        uses: actions/configure-pages@v5
      - name: upload artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./zig-out/docs/
      - name: deploy pages
        uses: actions/deploy-pages@v4
